
body{
   background-color:  #FFFFFF;
   li, a {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1F2024;
    white-space: nowrap;
   }
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    //width: 100%;
& header{
    flex: 0 0 auto;
    width: 100%;
    padding: 0 16px;
}
& main{
    flex: 1 0 auto;
    width: 100%;
    padding: 0 16px;
}
& footer{
    flex: 0 0 auto;
    width: 100%;
    padding: 0 16px;
}
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////@
.header {
    background-color:  #FFFFFF;
    border-bottom: 1px solid  #EDEDED;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__body {
    display: flex;
    width: 100%;
    align-items: center;
}
.header__logo {
    margin: 16px 48px 15px 0px;
    z-index: 50;
}
.header__nav {
    display: flex;
    background-color: white;
}
.header__nav-list {
    display: flex;
    max-width: 570px;
    line-height: 125%;
}
.header__nav-list-item_close{
    display: none;
}
@media (min-width: 767px) {
.header__nav-list-item:not(:last-child) {
margin-right: 48px;
}
}
.header__nav-list-link {
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: #1F2024;
}

.header__nav-enter {
     margin-left: 164px;
}
.header__nav-enter-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #1F2024;
}
._bolt{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 125%;
color: #1F2024;
}
.header__nav-list-item_open{
    display: none;
}
.header__button-menu {
display: none;
}

///mob
@media (max-width: 970px) and (min-width: 768px) {
    .header__logo {
      margin-right: calc(20px + (48 - 20) * ((100vw - 768px) / ( 970 - 768)));
    }
    .header__nav-list-item:not(:last-child) {
      margin-right: calc(20px + (48 - 20) * ((100vw - 768px) / ( 970 - 768)));
    }
    .header__nav-enter {
      margin-left: calc(74px + (164 - 74) * ((100vw - 768px) / ( 970 - 768)));
    }
}
@media(max-width:767px){
   .lock{
        overflow: hidden;
    }
    .header__button-menu {
        display: block;
        margin: 0px 8px 0px 0px;
    }
    .header__button-menu-link {
    }
    .header__body{
        justify-content: space-between;
    }
.header__nav{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 264px;
        overflow: auto;
        right: -100%;
        transition: all 0.5s ease;
        z-index: 99;
        visibility: hidden;
}
    .header__nav-list{
        display: flex;
        flex-direction: column;
    }
    .header__nav-list-item{
     text-align: end;
    margin: 0px 17px 48px 0px;
}

.header__nav-list-item_close{
    display: block;
    text-align: end;
    margin: 23px 24px 53px 0px;
}
.header__nav-enter {
    margin: 0 24px 24px 0px;
    text-align: end;
}
._open-menu{
  right: 0;
  transition: all 0.5s ease;
  visibility: visible;
}}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    visibility: hidden;
}
._mask-on{
    visibility: visible;
}
//search
.low-index{
    z-index: -10;
}
.section__search {
    margin-top: 64px;
}
.search {
  padding: 32px 0px 32px 0px;
}

.search__body {
display: flex;
width: 100%;
//border: 1px solid red;
justify-content: space-between;
}
.search__input {
    flex: 0 1 82.979%;
    margin-right: 20px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        top: 14px;
        left: 16px;
        width: 30px;
        height: 30px;
        background-image: url(../img/main/search/i16_search_2px.png);
       background-repeat: no-repeat;
}}
.search__item-input {
 
  width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 2px solid #5F6265;
    border-radius: 8px;
    padding-left: 40px;
}
.search__button {
    flex: 0 1 14.894%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search__item-button {
width: 100%;
min-width: 85px;
height: 44px;
background: #EF3B3B;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
border-radius: 8px;
&:hover{
    background-color: #BC2B2B;
}
}

@media (max-width: 500px) {
    .search__body{
        flex-wrap: wrap;
    }
    .search__input{
        flex: 1 1 100%;
        width: 100%;
        margin: 0px 0px 16px 0px;
    }
    .search__button {
        flex: 1 1 100%;
        width: 100%;
    }
}

//
.convert {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .convert img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.content__cards {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex: 0 1 48.938%;   
}
.card__body{
    padding-bottom: 32px;
}
.card__title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
color: #1F2024;
margin: 0px 0px 4px 0px;
}
.card_sub-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 129%;
color: #5F6265;
margin: 0px 0px 8px 0px;
}
.card__image {
    padding-top: 65.217%;
}
@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;   
    }
    .card__image {
        z-index: -1;
    }
}
//footer
.footer{
    border-top: 1px solid  #EDEDED;
    width: 100%;
}
.footer__body {
  
    display: flex;
    justify-content: space-between;
    padding: 22px 0px 23px 0px;
}

.footer__years-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #5F6265;
}
.footer__privat-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #1F2024;
}
@media (max-width: 340px) {
    .footer__body {
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
   
    .footer__years {
        flex: 1 1 100%;
        margin-bottom: 5px;
    }
    .footer__privat {
        flex: 1 1 100%;
    }
    
}







